.content {
  h1,
  h2,
  h3,
  h4 {
    @apply .mt-6 .mb-4 .pt-6 .border-b-2 .border-grey-lighter;
  }

  h2 {
    @apply .text-3xl;
  }

  h3 {
    @apply .text-2xl;
  }

  em,
  p,
  ul,
  ol,
  strong {
    @apply .my-4;
  }

  ul,
  ol {
    @apply .pl-6;
  }
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
    @apply .pl-6;
  }

  pre {
    @apply .mt-2 .mb-8;
  }

  ol,
  ul,
  p,
  li {
    line-height: 1.7;
  }
}

.post {
  @apply .text-grey-darkest;

  &-title {
    @apply .text-4xl .mt-6 .mb-4 .leading-tight;
  }

  &-content {
    // @apply .text-grey-darkest;
  }
}

// Custom Containers
.custom-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  &.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
  }
  &.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: #e7c000;
    color: #6b5900;
  }
  &.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
  }

  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }
}
