.navbar {
  height: 80px;
  @apply .flex .justify-between .items-center .p-4 .border-b .border-grey-lightest;
}

.nav {
  @apply .flex .flex-col .justify-start .list-reset;

  &-btn {
    z-index: 999;
    @apply .text-indigo-dark .font-bold;
  }

  a {
    @apply .font-bold .uppercase .py-2 .tracking-wide .text-sm .no-underline .border-b-2 .border-transparent;

    &.nuxt-link-exact-active,
    &.nuxt-link-exact-active:hover {
      // border-color: #673AB7;
      border-bottom-width: 3px;
      @apply .font-medium .border-indigo;
    }
  }
  @media (max-width: 767px) {
    position: absolute;
    background: #2b2b2b;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    padding-top: 100px;

    &-item {
      margin: 0.5rem 0;
      @apply .block .px-4;
    }

    a {
      @apply .text-white .block .font-thin .text-lg .text-center;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}
@screen md {
  .nav {
    @apply .flex-row .justify-end .bg-transparent;

    &-btn {
      @apply .hidden;
    }

    &-item {
      @apply .block .px-4;
    }

    a {
      @apply .text-grey-dark;

      &.nuxt-link-exact-active,
      &.nuxt-link-exact-active:hover {
        @apply .border-indigo;
      }
    }
  }
}
